<!DOCTYPE html>
<html lang="en">
<head>
    <title>BileteOnline</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>

<div class="main">
    <div class="navbar">
        <div class="icon">
            <h1 class="logo">Bilete Online</h1>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/client_meciuri" id="meciuri">Meciuri</a></li>
                <li><a href="/client_abonament">Abonamente</a></li>
                <li><a href="/client_campionate">Campionate</a></li>
                <li><a href="/client_echipe">Echipe</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </div>


    </div>
    <div class="content">
        <h1>Bilete Online</h1>
        <p class="par">Acest Site va ofera posibilitatea de
            achizitionare a <br> unor bilete sau abonamente la anumite echipe de fotbal
        sau <br> meciuri,la pretul cel mai bun </p>


        </div>
    </div>
</div>

</body>
</html>