<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Meciuri </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>

<div class ="container">

    <div class = "row">
        <h1 class = "text-center"> Meciuri </h1>
    </div>


</div>
<div class = "row" >
    <div class ="col-lg-10 col-md-10 col-sm-10 container justify-content-center card">
<table class = "center" id="customers">

    <thead class = "table-dark">
    <tr>
        <th> Home Team Name</th>
        <th> Away Team Name</th>
        <th> Stadium Name and address</th>
        <th> Date of match</th>
        <th> Cumperi?</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "champ: ${matches}">
        <td th:text = "${champ.attribute2}"></td>
        <td th:text = "${champ.attribute3}"></td>
        <td th:text = "${champ.attribute4}"></td>
        <td th:text = "${champ.attribute5}"></td>

        <td>
            <a th:href = "@{/client/cumpara/bilet/{id}(id=${champ.attribute1})}"
               class = "btn btn-primary">Cumpara</a>

        </td>
    </tr>
    </tbody>


</table>
    </div>
</div>

</body>
</html>


