<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Seats</title>
<link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="container">
<form method="post" action="/process_cumpara_bilet" th:object="${myObj}">
<button class="btnn" id="cumpara">Cumpara</button>
<p>Pretul unui bilet este de : </p>
<p  th:text = "${myObj.attribute1}"></p>
<div class="theatre">
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="0"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="0">0</label>
</li>
<li class="seat">
<input type="checkbox" id="1" name="selectedCells" />
<label for="1">1</label>
</li>
<li class="seat">
<input type="checkbox" id="2"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="2">2</label>
</li>
<li class="seat">
<input type="checkbox" id="3" name="selectedCells" />
<label for="3">3</label>
</li>
<li class="seat">
<input type="checkbox" id="4" name="selectedCells" />
<label for="4">4</label>
</li>
<li class="seat">
<input type="checkbox" id="5"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="5">5</label>
</li>
<li class="seat">
<input type="checkbox" id="6"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="6">6</label>
</li>
<li class="seat">
<input type="checkbox" id="7"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="7">7</label>
</li>
<li class="seat">
<input type="checkbox" id="8"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="8">8</label>
</li>
<li class="seat">
<input type="checkbox" id="9" name="selectedCells" />
<label for="9">9</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="10" name="selectedCells" />
<label for="10">10</label>
</li>
<li class="seat">
<input type="checkbox" id="11" name="selectedCells" />
<label for="11">11</label>
</li>
<li class="seat">
<input type="checkbox" id="12" name="selectedCells" />
<label for="12">12</label>
</li>
<li class="seat">
<input type="checkbox" id="13" name="selectedCells" />
<label for="13">13</label>
</li>
<li class="seat">
<input type="checkbox" id="14" name="selectedCells" />
<label for="14">14</label>
</li>
<li class="seat">
<input type="checkbox" id="15" name="selectedCells" />
<label for="15">15</label>
</li>
<li class="seat">
<input type="checkbox" id="16" name="selectedCells" />
<label for="16">16</label>
</li>
<li class="seat">
<input type="checkbox" id="17" name="selectedCells" />
<label for="17">17</label>
</li>
<li class="seat">
<input type="checkbox" id="18" name="selectedCells" />
<label for="18">18</label>
</li>
<li class="seat">
<input type="checkbox" id="19" name="selectedCells" />
<label for="19">19</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="20" name="selectedCells" />
<label for="20">20</label>
</li>
<li class="seat">
<input type="checkbox" id="21" name="selectedCells" />
<label for="21">21</label>
</li>
<li class="seat">
<input type="checkbox" id="22"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="22">22</label>
</li>
<li class="seat">
<input type="checkbox" id="23" name="selectedCells" />
<label for="23">23</label>
</li>
<li class="seat">
<input type="checkbox" id="24" name="selectedCells" />
<label for="24">24</label>
</li>
<li class="seat">
<input type="checkbox" id="25" name="selectedCells" />
<label for="25">25</label>
</li>
<li class="seat">
<input type="checkbox" id="26" name="selectedCells" />
<label for="26">26</label>
</li>
<li class="seat">
<input type="checkbox" id="27" name="selectedCells" />
<label for="27">27</label>
</li>
<li class="seat">
<input type="checkbox" id="28" name="selectedCells" />
<label for="28">28</label>
</li>
<li class="seat">
<input type="checkbox" id="29" name="selectedCells" />
<label for="29">29</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="30" name="selectedCells" />
<label for="30">30</label>
</li>
<li class="seat">
<input type="checkbox" id="31" name="selectedCells" />
<label for="31">31</label>
</li>
<li class="seat">
<input type="checkbox" id="32" name="selectedCells" />
<label for="32">32</label>
</li>
<li class="seat">
<input type="checkbox" id="33"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="33">33</label>
</li>
<li class="seat">
<input type="checkbox" id="34" name="selectedCells" />
<label for="34">34</label>
</li>
<li class="seat">
<input type="checkbox" id="35" name="selectedCells" />
<label for="35">35</label>
</li>
<li class="seat">
<input type="checkbox" id="36" name="selectedCells" />
<label for="36">36</label>
</li>
<li class="seat">
<input type="checkbox" id="37" name="selectedCells" />
<label for="37">37</label>
</li>
<li class="seat">
<input type="checkbox" id="38" name="selectedCells" />
<label for="38">38</label>
</li>
<li class="seat">
<input type="checkbox" id="39" name="selectedCells" />
<label for="39">39</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="40" name="selectedCells" />
<label for="40">40</label>
</li>
<li class="seat">
<input type="checkbox" id="41" name="selectedCells" />
<label for="41">41</label>
</li>
<li class="seat">
<input type="checkbox" id="42" name="selectedCells" />
<label for="42">42</label>
</li>
<li class="seat">
<input type="checkbox" id="43" name="selectedCells" />
<label for="43">43</label>
</li>
<li class="seat">
<input type="checkbox" id="44" name="selectedCells" />
<label for="44">44</label>
</li>
<li class="seat">
<input type="checkbox" id="45" name="selectedCells" />
<label for="45">45</label>
</li>
<li class="seat">
<input type="checkbox" id="46" name="selectedCells" />
<label for="46">46</label>
</li>
<li class="seat">
<input type="checkbox" id="47" name="selectedCells" />
<label for="47">47</label>
</li>
<li class="seat">
<input type="checkbox" id="48" name="selectedCells" />
<label for="48">48</label>
</li>
<li class="seat">
<input type="checkbox" id="49" name="selectedCells" />
<label for="49">49</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="50" name="selectedCells" />
<label for="50">50</label>
</li>
<li class="seat">
<input type="checkbox" id="51" name="selectedCells" />
<label for="51">51</label>
</li>
<li class="seat">
<input type="checkbox" id="52" name="selectedCells" />
<label for="52">52</label>
</li>
<li class="seat">
<input type="checkbox" id="53" name="selectedCells" />
<label for="53">53</label>
</li>
<li class="seat">
<input type="checkbox" id="54" name="selectedCells" />
<label for="54">54</label>
</li>
<li class="seat">
<input type="checkbox" id="55"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="55">55</label>
</li>
<li class="seat">
<input type="checkbox" id="56" name="selectedCells" />
<label for="56">56</label>
</li>
<li class="seat">
<input type="checkbox" id="57" name="selectedCells" />
<label for="57">57</label>
</li>
<li class="seat">
<input type="checkbox" id="58" name="selectedCells" />
<label for="58">58</label>
</li>
<li class="seat">
<input type="checkbox" id="59" name="selectedCells" />
<label for="59">59</label>
</li>
</ol>
</li>
<li class="row row--1">
<ol class="seats" type="A">
<li class="seat">
<input type="checkbox" id="60"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="60">60</label>
</li>
<li class="seat">
<input type="checkbox" id="61"  name = "selectedCells"    checked="checked" onclick="return false;" />
<label for="61">61</label>
</li>
<li class="seat">
<input type="checkbox" id="62" name="selectedCells" />
<label for="62">62</label>
</li>
<li class="seat">
<input type="checkbox" id="63" name="selectedCells" />
<label for="63">63</label>
</li>
<li class="seat">
<input type="checkbox" id="64" name="selectedCells" />
<label for="64">64</label>
</li>
<li class="seat">
<input type="checkbox" id="65" name="selectedCells" />
<label for="65">65</label>
</li>
</ol>
</li>
<div class="form-group">
<label> Introduce-ti numarul scaunelor pe  care le doriti,separate prin virgula(,)</label><div class="input-box"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
<input type="text" name="attribute1" placeholder="Scaune"  required >
</div>
</div>
</div>
</form>
</div>
</body>
</html>
