<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Stadium</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

</head>
<body>

<div class ="container">

    <div class = "row">
        <h1> List Stadiums </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/items/add_stadium}" id = "addStadium" class = "btn btn-primary btn-sm mb-3"> Add Stadium</a>
        </div>

    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Stadium ID</th>
            <th> Address</th>
            <th> Capacity</th>
            <th> Name</th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "champ: ${stadiums}">
            <td th:text = "${champ.id}"></td>
            <td th:text = "${champ.address}"></td>
            <td th:text = "${champ.capacity}"></td>
            <td th:text = "${champ.name}"></td>
            <td>
                <a th:href = "@{/items/stadium/edit/{id}(id=${champ.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/stadium/delete/{id}(id=${champ.id})}"
                   class = "btn btn-danger">Delete</a>
                <p></p>

            </td>
        </tr>
        </tbody>

    </table>

</div>


</body>
</html>