<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit Team</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class = "container" >
    <div class = "row" >
        <div class ="col-lg-10 col-md-10 col-sm-10 container justify-content-center card">
            <h1 class = "text-center"> Edit Team </h1>
            <div class = "card-body">
                <form th:action="@{/edit_team}" th:object = "${edit_champ}" method="POST">

                    <table class = "table table-striped table-bordered">
                        <thead class = "table-dark">
                        <tr>
                            <th> Team Name</th>
                            <th> Championship ID</th>
                        </tr>
                        </thead>

                            <td th:text = "${edit_champ.name}"></td>
                            <td th:text = "${edit_champ.championshipID}"></td>


                    <div class ="form-group">
                        <label> Team Name </label>
                        <div class="input-box">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            <input type="text" name="name" placeholder="Team name"  required minlength="4" maxlength="20">
                        </div>
                    </div>

                    <div class ="form-group">
                        <label> Championship ID </label>
                        <div class="input-box">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            <input type="text" name="championshipID" placeholder="Championship ID"  minlength="1" maxlength="12"pattern="^\d+$" title="Must contain only digits" required >
                        </div>
                    </div>
                    </table>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <form  th:object = "${championships}" >
        <table class = "table table-striped table-bordered">
            <thead class = "table-dark">
            <tr>
                <th> Championship ID</th>
                <th> Championship Name</th>
                <th> Number Of Teams</th>
                <th> Maxim Number Of Teams</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "champ: ${championships}">
                <td th:text = "${champ.id}"></td>
                <td th:text = "${champ.name}"></td>
                <td th:text = "${champ.numberOfTeams}"></td>
                <td th:text = "${champ.maximNumberOfTeams}"></td>
            </tr>
            </tbody>

        </table>

</div>
</body>
</html>